@tailwind utilities;

/** --- Base Styles --- */
#root {
  @apply font-sans text-gray-800 text-base leading-tight;
}

/** --- Misc Utils --- */
.ui-bg {
  @apply rounded-md shadow-md;
  background-color: rgba(255, 255, 255, 0.85);
  pointer-events: all;
}

.flex-center {
  @apply flex justify-center items-center;
}

/* --- Headers --- */
.ui-h1 {
  @apply text-3xl sm:text-4xl md:text-5xl font-bold;
}

.ui-h2 {
  @apply text-2xl sm:text-3xl md:text-4xl font-bold;
}

.ui-h3 {
  @apply text-xl sm:text-2xl md:text-3xl;
}

.ui-h4 {
  @apply text-lg sm:text-xl md:text-2xl;
}

.ui-h5 {
  @apply sm:text-lg md:text-xl;
}

/* --- Butttons --- */
.ui-btn {
  @apply flex-center rounded-md shadow-md uppercase font-bold cursor-pointer no-underline;
}

/* button types */
.ui-btn-secondary {
  @apply bg-white border-1 border-solid border-gray-300 text-gray-800 hover:bg-gray-200;
}

.ui-btn-primary {
  @apply bg-blue-600 border-none text-white hover:bg-blue-700;
}

/* button sizes */
.ui-btn-md {
  @apply px-4 py-2;
  min-width: 6rem;
}

.ui-btn-lg {
  @apply px-6 py-3 text-lg;
  min-width: 8rem;
}

.ui-btn-xl {
  @apply px-4 py-2 sm:px-6 sm:py-3 sm:text-lg md:px-8 md:py-4 md:text-xl;
  min-width: 10rem;
}
